<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="utf-8">
  <title>available page</title>

  <style>
    table,
    td,
    th {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
  {% load static %}
  <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
  <script src="{% static 'app/js/bootstrap.min.js' %}"></script>


</head>

<body class="container">
  <div class="row mt-5">
    <h1>موجودی</h1>
  </div>
  <form action="{% url 'available' %}" method="GET" value="{{request.GET.q}}">
    <div class="form-group row mt-3">
      <input type="text" id="q" name="q" value="{{request.GET.q}}" placeholder="جستجو..." class="form-control col-sm-8 ml-3" />
      <input type="submit" name="submit" value="search" class="col-sm-3 btn btn-primary" />
    </div>
  </form>
  <div class="row">
    {% if submitbutton == 'search' and request.GET.q != '' %}
    {% if results %}
    <h1>نتایج برای
      <b>{{ request.GET.q }}</b>
    </h1>
    <br /><br />
    <table style="width:100%" class="table table-hover">
      <tr>
        <th>vendor</th>
        <th>brand</th>
        <th>model</th>
        <th>version</th>
        <th>sn</th>
        <th>action</th>
        <th>replace</th>
      </tr>
      {% for result in results %}
      <tr>
        <th>{{result.fireWall.vendor}}</th>
        <th>{{result.fireWall.brand}}</th>
        <th>{{result.fireWall.model}}</th>
        <th>{{result.fireWall.version}}</th>
        <th>{{result.fireWall.sn}}</th>
        <th>{{result.action}}</th>
        <th>{{result.replace}}</th>
      </tr>
      {% endfor %}
    </table>

    {% else %}
    نتیجه ای یافت نشد
    {% endif %}
    {% endif %}
  </div>

  <div class="row mt-5">
    <a class="btn btn-success" href="{% url 'home' %}">home</a>
  </div>


</body>

</html>
